@page
@model Core.Areas.Local.IndexModel
@{
    ViewData["Title"] = "Local Area";
}

    <div class="text-center">
        <h1 class="display-4">@Model.OrgOptions.Title</h1>
        <span class="lead">Local Area</span>
        <p>
            Records in this Area is local to the organization
            <br />
            These records don't reflect the status of the XPChain
        </p>
        <a asp-page="./Employees/Index" class="btn btn-primary mb-2">Employees</a>
        <br />
        <a asp-page="./UnitsOfWork/Index" class="btn btn-primary mb-2">Units of Work</a>
        <br />
        <a asp-page="./Certifications/Index" class="btn btn-primary mb-2">Certifications</a>
        <br />
        <a asp-page="./Resignations/Index" class="btn btn-primary mb-2">Resignations</a>
    </div>