@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>XPChain</b></h1>
    <p>
        XPChain is a Blockchain-based distributed experience point recording platform.
    </p>
</div>
