@page
@model Core.Areas.Local.Pages.UnitsOfWork.CreateModel
@{
    ViewData["Title"] = "New Local Unit of Work";
}


<div class="card input-card">
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">New Local Unit of Work</h1>
        </div>
        <div class="card-text">
            <form method="post">
                <div class="form-group row">
                    <label asp-for="Input.Project"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <select asp-for="Input.Project"
                                asp-items="Model.Projects"
                                class="form-control">
                            <option selected disabled>
                                Select a Project
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.Executor"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <select asp-for="Input.Executor"
                                asp-items="Model.Employees"
                                class="form-control">
                            <option selected disabled>
                                Select an Employee
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.Tags"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <input asp-for="Input.Tags"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.Xp"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <input asp-for="Input.Xp"   
                               type="number"
                               class="form-control">
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.Description"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <textarea asp-for="Input.Description"
                                  class="form-control">
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <input type="submit"
                               class="btn btn-primary" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
