@page
@model Core.Areas.Local.Pages.UnitsOfWork.VerificationModel
@{
    ViewData["Title"] = "Unit of Work Confirmation";
}

<div class="card details-card mb-2">
    <div class="card-header">
        Confirm Unit of Work
    </div>
    <div class="card-body">
        <div class="card-title">
            <h1 class="display-4">
                @Model.LocalEmployee.Name
            </h1>
        </div>

        <div class="card-text">
            <form method="post">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="UnitOfWork.Id">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.UnitOfWork.Id
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"
                           asp-for="UnitOfWork.ExecutorPublicKey">
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.UnitOfWork.ExecutorPublicKey
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                        Verification Message
                    </label>

                    <div class="col-sm-9">
                        <code>
                            @Model.VerificationPayload
                        </code>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Input.VerificationSignature"
                           class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <textarea asp-for="Input.VerificationSignature"
                                  class="form-control">
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">
                    </label>

                    <div class="col-sm-9">
                        <input type="submit"
                               class="btn btn-primary" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
